* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Young Serif", serif;
}

.section-one, .section-six {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 40px 10px;
    flex-wrap: wrap;
}

.recipe-card {
    width: 200px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

.section-six__send {
    background-color: yellow;
    color: black;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}